<h4>Placed Order Succesfully</h4>
<p>
  <strong>price:</strong>
  <%= @order.total_price %>
</p>
<p>
  <strong>gmail:</strong>
  <%= @order.email %>
</p>
<%= link_to 'products page', products_path,method: :get%>